#goods_multiple{
    background:#EDEDED;
    .container{
        .multiple_t{width: 100%;height: 52px;padding-top:10px;
            p{font-size: 14px;line-height: 52px;}
        }
        .multiple_b{
            
            div{border-bottom:1px dashed #EDEDED;}
           .left{width: 110px;font-size: 12px;color: #666666;}
           .right{height: 100%;width: 960px;padding-right:130px;background:#fff;
                a{margin: 12px 0 0;height: 22px;padding: 0 22px 0 10px;white-space: nowrap;max-width: 180px;overflow: hidden;text-overflow: ellipsis;display:inline-block;font-size: 12px;color: #666666;}
           }
           .multiple_brand{height: 233px;}
           .multiple_classify{height: 80px;}
           .multiple_price{height: 47px;}
           .multiple_user{height: 47px;}
        }
    }
}
#goods_main{
    background:#EDEDED;
    padding-top:20px;
    .container{
        .main_head{height: 85px;padding-top:2px;margin-top:-2px;
            a{padding: 0 30px;line-height: 30px;display: inline-block;text-align: center;padding-top: 9px;font-size: 20px;color:#A59999;}
            a:hover{border-top: 2px solid #e93b39;color:#e03b39;}
            .product_control{background:#F5F5F5;height: 45px;line-height: 45px;
                .product_control_btn{padding-left:30px;
                    button{width: 45px;height: 22px;background:#fff;}
                    button:hover{background-color:#E93B39;color:#fff;}
                .product_control_search{padding-left:30px; 
                }
            }
        }
        .main_goods{}
        .mian_footer{}
    }
}