#s_banner {
  z-index: -1;
}

#s_banner .container {
  height: 620px;
  margin-top: 20px;
}

#s_main a:nth-child(odd) {
  margin-right: 20px;
}

#s_main a:hover p {
  color: #fc0;
}

#s_main a:hover img {
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}

#s_main a:hover div {
  border-bottom: 5px solid #fc0;
}

#s_main a {
  display: block;
  width: 590px;
  height: 450px;
  float: left;
}

#s_main a div {
  width: 590px;
  height: 330px;
  overflow: hidden;
  transition: all 0.5s;
}

#s_main a div img {
  width: 590px;
  height: 330px;
}

#s_main a p {
  display: block;
  width: 590px;
  height: 70px;
  font-size: 30px;
  line-height: 60px;
  color: #000;
  transition: all 0.5s;
}

#s_main .main_b {
  height: 590px;
  margin-top: 82px;
  border-top: 3px solid #fc0;
  position: relative;
}

#s_main .main_b .title {
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: -22px;
  font-size: 30px;
  display: block;
  background: #fff;
}
