@charset "UTF-8";
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  zoom: 1;
}

a {
  text-decoration: none;
}

/*color:#666;*/
/*a:hover{color:#C81623;}*/
h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: 300;
  /*font-size:1em*/
}

/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s, i, em {
  font-style: normal;
  text-decoration: none;
}

/*公共类*/
.container {
  /*版心 提取 */
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.hide {
  display: none;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

#s_header {
  margin: 0;
  background: #323131;
}

#s_header a {
  line-height: 70px;
  color: #fff;
  font-size: 14px;
}

#s_main {
  background-color: #FDF8F4;
}

#s_main .register {
  width: 375px;
  height: 495px;
  margin-top: 150px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px  4px 2px #ccc;
}

#s_main .register .main {
  padding: 35px;
}

#s_main .register .main p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
}

#s_main .register .main span {
  font-size: 16px;
  color: #999;
}

#s_main .register .main input {
  width: 100%;
  height: 41px;
  border: 1px solid #ddd;
}

#s_main .register .main .checkbox {
  width: 13px;
  height: 13px;
  margin-bottom: 20px;
}

#s_main .register .main .submit {
  width: 100%;
  background: #F19108;
  color: #fff;
}

#s_footer {
  background: #F5F5F5;
}

#s_footer .footer_t {
  height: 134px;
  padding-top: 39px;
}

#s_footer .footer_t dl {
  float: left;
  margin-right: 180px;
}

#s_footer .footer_t dl a {
  color: #000;
  font-size: 16px;
  line-height: 34px;
}

#s_footer .footer_b {
  height: 211px;
  padding-top: 34px;
}

#s_footer .footer_b span {
  margin-right: 28px;
  font-size: 14px;
}

#s_footer .footer_b span a {
  color: #000;
}

#s_footer .footer_b h5 {
  padding-top: 24px;
}
